@import "./footer/footer.css";
.login-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px !important;
}
.login-page .lead {
  text-align: center;
  margin-bottom: 20px;
}
.login-page h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.login-page p {
  font-size: 16px;
  color: #888888; /* Replace with your desired text color */
}
.login-page .card {
  background-color: #ffffff; /* White background for cards */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Mat shadow for cards */
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  max-width: 250px;
}
.login-page .card-header {
  border-bottom: 1px solid #dddddd; /* Replace with your desired border color */
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.login-page .card-header h2 {
  font-size: 18px;
}
.login-page .form-group {
  margin-bottom: 20px;
}
.login-page label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #00cc99;
  font-weight: bold;
}
.login-page .form-check {
  display: flex;
  align-items: center;
}
.login-page .form-check-label {
  font-size: 13px;
  margin-top: 5px;
  margin-left: 10px;
}
.login-page .form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dddddd; /* Replace with your desired border color */
  border-radius: 4px;
  background-color: #ffffff; /* White background for input fields */
}
.login-page .form-control:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Focus shadow for input fields */
}
.login-page .list-inline {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .list-inline-item {
  margin: 10px;
}
.login-page .alert {
  padding: 20px;
  font-size: 16px;
  border-radius: 4px;
}
.login-page .alert-warning {
  background-color: #f8d7da; /* Replace with your desired warning alert color */
  color: #721c24; /* Replace with your desired warning alert text color */
  border: 1px solid #f5c6cb; /* Replace with your desired warning alert border color */
}

/* Navbar styles */
.nav-page {
  padding: 10px;
}
.nav-page .navbar {
  background-color: #ffffff; /* White background */
  padding: 10px;
  border-radius: 4px;
}
.nav-page .navbar .navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333; /* Replace with your desired text color */
  font-size: 20px;
}
.nav-page .navbar .navbar-brand img.icon-banner {
  width: 120px; /* Set your desired width for the icon */
}
.nav-page .navbar .navbar-nav {
  margin-left: auto;
}
.nav-page .navbar .navbar-nav .nav-item {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
.nav-page .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #333333; /* Replace with your desired text color */
  position: relative;
  padding: 10px 15px;
}
.nav-page .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #eeeeee; /* Replace with your desired hover background color */
  border-radius: 4px;
}
.nav-page .navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff; /* White background for dropdown */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Mat shadow for dropdown */
  border-radius: 4px;
  display: none;
}
.nav-page .navbar .dropdown-menu .dropdown-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333333; /* Replace with your desired text color */
}
.nav-page .navbar .dropdown-menu .dropdown-item:hover {
  background-color: #eeeeee; /* Replace with your desired hover background color */
  border-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; /* Replace with your desired background color */
}

.body-container {
  height: 100%;
}

.welcome-page li {
  padding: 4px;
}

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0;
}

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
}
.grants-page .card .card-title {
  font-size: 120%;
  font-weight: bold;
}
.grants-page .card .card-title img {
  width: 100px;
  height: 100px;
}
.grants-page .card label {
  font-weight: bold;
}

.gradient-text {
  background: linear-gradient(to right, #fff, #00cc99);
  -webkit-background-clip: text; /* For Webkit browsers */
  background-clip: text;
  color: transparent;
  background-size: 200% 100%; /* Adjust the background size to control the gradient direction */
  animation: gradientAnimation 3s infinite; /* Add animation for smooth gradient movement */
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.btn {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.btn-primary {
  background-color: #00cc99; /* Replace with your desired primary button color */
  color: #ffffff; /* Replace with your desired button text color */
  border: none;
}
.btn-secondary {
  background-color: #6c757d; /* Replace with your desired secondary button color */
  color: #ffffff; /* Replace with your desired button text color */
  border: none;
}
.btn:hover {
  opacity: 0.8; /* Button opacity on hover */
}

.label--error {
  color: tomato;
  font-size: 12px;
}
