<div class="footer">
    <div class="footer__brand">
        <img class="footer__brand-image" src="~/logo/groceteria-logo.png"/>
        <div>Groceteria</div>
    </div>
    <div class="footer__link">
        <div class="footer__link-item">Contact</div>
        <div class="footer__link-item">About us</div>
        <div class="footer__link-item">Copyright@2023</div>
    </div>
</div>