<div class="nav-page">
    <nav class="navbar navbar-expand-lg">

        <span class="navbar-brand">
            <img src="~/logo/groceteria-logo.png" class="icon-banner">
            <label class="navbar-brand__label gradient-text">Groceteria</label>
        </span>    
    </nav>
</div>
